In [1]:
import sys
import pandas as pd
import numpy as np

In [2]:
# %load /usr/local/bin/csongs
#!/usr/bin/python3

import os
import csv
import json
from collections import defaultdict

path = r'/home/karen/Documentos/javier/git/linux_conf/songs/'


def get_csv(file_name):
    return list(csv.reader(open(os.path.join(path, file_name), 'r', encoding='utf-8-sig')))


list_files = ['romanticas.txt', 'chidas.txt', 'rock.txt']


def fun(lista):
    return [n for n in lista]


rom, ch, ro = fun(list_files)
bands = {}


def make(*args):
    for p in args:
        for n in get_csv(p):
            try:
                band, *_ = n[0].split(' - ')
                song = [' '.join(_)] if len(_) > 1 else _
            except:
                pass
            else:
                bands.setdefault(band, {
                    'total': 0,
                    'dir': p.replace('.txt', ''),
                    'songs': []
                })
                bands[band]['total'] += 1
                bands[band]['songs'] += song

make(rom, ch, ro)

# for k, v in bands.items():
#     print(f'Band: {k}, Total: {v["total"]}')
#     for i in v['songs']:
#         print(i)

_totals = {}
_totals1 = defaultdict(int)

for k,v in bands.items():
    _totals.setdefault(v['dir'], 0)
    _totals[v['dir']] += v['total']
# print(_totals)

# for k, v in bands.items():
#     _totals1[v['dir']] += v['total']
# print(_totals1)

# no usar .items() y acceder directo al diccinario
for s in bands:
    _totals1[bands[s]['dir']] += bands[s]['total']
print(_totals1)

#with open('songs.json', 'w', encoding='utf-8-sig') as f:
#    json.dump(bands, f, ensure_ascii=False, indent=2)

defaultdict(<class 'int'>, {'romanticas': 176, 'chidas': 272, 'rock': 1810})

In [3]:
df = pd.DataFrame(bands).T
pd.DataFrame(df, columns=["total", "dir"])
# df = pd.DataFrame(bands).T.drop(columns=["dir", "songs"])
# df

                                total         dir
Banda Cuisillos                     1  romanticas
Bronco                             18  romanticas
Grupo Abracadabra                   1  romanticas
Grupo Bryndis                      13  romanticas
Grupo Toppaz de Reynaldo Flores     2  romanticas
...                               ...         ...
Zoé                                 2        rock
a-ha                                1        rock
blink-182                           1        rock
bôa                                14        rock
t.A.T.u.                            2        rock

[579 rows x 2 columns]

In [4]:
result = df.sort_values("total", ascending=False)
result.index.name = "bands"
#result.to_excel("prueba.xlsx")
result.sort_values("total", ascending=False)

,total,dir,songs
bands,,,
KoЯn,104,rock,"[10 or a 2-way.flac, 4U.flac, A.D.I.D.A.S. (Li..."
Los Temerarios,36,romanticas,"[A Quién Quieres Engañar.flac, Al Otro Lado De..."
Vicente Fernández,28,chidas,"[Aca Entre Nos.flac, Aunque Mal Paguen Ellas.f..."
System of a Down,26,rock,"[ATWA.flac, Aerials.flac, B.Y.O.B..flac, Bounc..."
Los Cadetes De Linares,26,chidas,"[Añorando Tus Besos.flac, Cosas del Ayer.flac,..."
...,...,...,...
The Champs,1,rock,[Tequila.flac]
Bob Sinclar,1,rock,[World Hold On.flac]
Margarita y su Sonora,1,chidas,[Escándalo.flac]
The Goo Goo Dolls,1,rock,[Iris.flac]
Banda Cuisillos,1,romanticas,[A Veces Lloro.flac]

In [5]:
pd.DataFrame(bands, columns=["Bronco"]).T

               dir                                              songs total
Bronco  romanticas  [A Qué Le Tiramos.flac, Amigo Bronco.flac, Amo...    18

In [6]:
df.sort_index()

              total   dir                                              songs
10cc              2  rock  [I'm Not In Love.flac, The Things We Do For Lo...
3 Doors Down      3  rock  [Here Without You.flac, Kryptonite.flac, When ...
311               2  rock                       [Amber.flac, Love Song.flac]
4 Non Blondes     1  rock                                   [What's Up.flac]
50 Cent           7  rock  [21 Questions.flac, Candy Shop.flac, In Da Clu...
...             ...   ...                                                ...
Zoé               2  rock              [Labios Rotos (Live).flac, Love.flac]
a-ha              1  rock                                  [Take on Me.flac]
blink-182         1  rock                                  [I Miss You.flac]
bôa              14  rock  [A Girl.flac, Anna Maria.flac, Deeply.flac, Dr...
t.A.T.u.          2  rock  [All About Us.flac, All The Things She Said.flac]

[579 rows x 3 columns]

In [11]:
df.sort_values("total", ascending=False)

,total,dir,songs
KoЯn,104,rock,"[10 or a 2-way.flac, 4U.flac, A.D.I.D.A.S. (Li..."
Los Temerarios,36,romanticas,"[A Quién Quieres Engañar.flac, Al Otro Lado De..."
Vicente Fernández,28,chidas,"[Aca Entre Nos.flac, Aunque Mal Paguen Ellas.f..."
System of a Down,26,rock,"[ATWA.flac, Aerials.flac, B.Y.O.B..flac, Bounc..."
Los Cadetes De Linares,26,chidas,"[Añorando Tus Besos.flac, Cosas del Ayer.flac,..."
...,...,...,...
Paramore,1,rock,[Decode.flac]
Passenger,1,rock,[Let Her Go.flac]
Patti Smith,1,rock,[Because the Night.flac]
Paul McCartney,1,rock,[Say Say Say (feat. Michael Jackson).flac]
Banda Cuisillos,1,romanticas,[A Veces Lloro.flac]

In [8]:
df.value_counts("total")

total
1      251
2       93
3       49
4       49
6       23
7       18
5       16
8       15
9       14
10      10
11       7
13       6
18       4
20       3
14       3
12       3
16       2
19       2
25       2
26       2
15       1
21       1
23       1
24       1
28       1
36       1
104      1
dtype: int64

In [9]:
df["total"].value_counts().sort_index(ascending=False)

104      1
36       1
28       1
26       2
25       2
24       1
23       1
21       1
20       3
19       2
18       4
16       2
15       1
14       3
13       6
12       3
11       7
10      10
9       14
8       15
7       18
6       23
5       16
4       49
3       49
2       93
1      251
Name: total, dtype: int64

In [10]:
df.value_counts("total")

total
1      251
2       93
3       49
4       49
6       23
7       18
5       16
8       15
9       14
10      10
11       7
13       6
18       4
20       3
14       3
12       3
16       2
19       2
25       2
26       2
15       1
21       1
23       1
24       1
28       1
36       1
104      1
dtype: int64